.block{
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
    margin-left: 30px;
    height: 470px;
}

.nameCard{
    background-color: rgb(61, 61, 253);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    width: 200px;
    margin-top: 10px;
}

.secBlock{
    margin-top: 30px;
}

.nameNewCard{
    background-color: rgb(61, 61, 253);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 25px;
    width: 200px;
    margin-top: 10px;
}
